@import '@/styles/colors.scss';

$defaultMaxWidth: 900px;

.page-container {
   max-width: $defaultMaxWidth;
   margin: 0 auto;
}

.projects-container {
   padding: 1em;
   width: 100%;
}

.projects-top4 {
   margin-top: 0.5em;
   margin-bottom: 2.5em;
}

.text-center {
   text-align: center;
}

.title {
   background-color: rgb(51, 86, 119);
   padding: 0.5em 0;
   font-size: 2rem;
   color: white;
   border-radius: 6pt;
}

.subtitle {
   padding: 0.5em 0;
   font-size: 1.7rem;
}

.section-setup {
   padding: 1.5em;
}

.extensions-list {
   margin-top: 1em;
   border: 1px dashed rgb(197, 197, 197);
   padding: 1em;
   max-height: 300px;
   overflow: scroll;

   li {
      list-style: none;
   }
}

.p {
   line-height: 1.6;
}

.resume-container {
   padding: 1.5em;

   .resume {
      margin: 1em 0;
      background-color: rgb(131, 85, 67);
      transition: background-color 0.28s ease-in-out;

      &:hover {
         background-color: rgb(104, 62, 45);
         transition: background-color 0.28s ease-in-out;
      }

      .resume-link {
         padding: 1em;
         text-align: center;
         color: white;
         font-size: 1.3rem;
      }
   }
}
