@import '@/styles/colors.scss';

.projects-section {
   padding: 1em;
   width: 100%;
   max-width: 1200px;
   margin: 0 auto;
}

.projects-title {
   padding: 0.5em 0;
   font-size: 2em;
   text-align: center;
}
